<h1>New</h1>
<p>
	<%= bootstrap_form_for :article, url: articles_path do |f| %>
  	<%= f.text_field :author, label: 'Автор' %>
  	<%= f.text_area :text, label: 'Текст' %>
  	<%= f.submit "Log In", class: "btn btn-primary" %>
<% end %>
</p>